{% extends 'base.html.j2' %}

{% block content_header_icon %}{% endblock %}

{% block content %}

<input type="button" value="New Project State" onclick="window.location='{% url 'Settings:_project_state_add' %}';">

<table class="data">
    <tr>
        <th>Name</th>
        <th>Organization</th>
        <th>Created</th>
        <th>Modified</th>
        <th>&nbsp;</th>
    </tr>
    {% for project_state in project_states %}
    <tr>
        <td>
            <a href="{% url 'Settings:_project_state_view' pk=project_state.id %}">{{ project_state.name }}</a>
        </td>
        <td>{% if project_state.is_global %}Global{% else %}{{ project_state.organization }}{% endif %}</td>
        <td>{{ project_state.created }}</td>
        <td>{{ project_state.modified }}</td>
        <td>&nbsp;</td>
    </tr>
    {% endfor %}

</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}