{% extends 'base.html.j2' %}

{% load markdown %}


{% block content %}

<script>

    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>

<div class="tab">
    <button onclick="window.location='{% url 'Project Management:Projects' %}';"
        style="vertical-align: middle; padding: auto; margin: 0px">
        <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px"
            style="vertical-align: middle; margin: 0px; padding: 0px border: none; " fill="#6a6e73">
            <path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z" />
        </svg> Back to Projects</button>
    <button id="defaultOpen" class="tablinks" onclick="openCity(event, 'Details')">Details</button>
    <button class="tablinks" onclick="openCity(event, 'Software')">Tasks</button>
    <button class="tablinks" onclick="openCity(event, 'Notes')">Notes</button>
</div>
<style>
    .detail-view-field {
        display: unset;
        height: 30px;
        line-height: 30px;
        padding: 0px 20px 40px 20px;

    }

    .detail-view-field label {
        display: inline-block;
        font-weight: bold;
        width: 200px;
        margin: 10px;
        /*padding: 10px;*/
        height: 30px;
        line-height: 30px;

    }

    .detail-view-field span {
        display: inline-block;
        width: 340px;
        margin: 10px;
        /*padding: 10px;*/
        border-bottom: 1px solid #ccc;
        height: 30px;
        line-height: 30px;

    }

    hr {
        border: 0; border-top: 1px solid #ccc;
    }
</style>
<form action="" method="post">
    {% csrf_token %}


    <div id="Details" class="tabcontent">
        <h3>
            Details
        </h3>
        <div style="align-items:flex-start; align-content: center; display: flexbox; width: 100%">

            <div style="display: inline; width: 40%; margin: 30px;">

                <div class="detail-view-field">
                    <label>{{ form.code.label }}</label>
                    <span>{{ form.code.value }}</span>
                </div>

                <div class="detail-view-field">
                    <label>{{ form.name.label }}</label>
                    <span>{{ form.name.value }}</span>
                </div>

                <div class="detail-view-field">
                    <label>Type</label>
                    <span>project type</span>
                </div>

                <div class="detail-view-field">
                    <label>State</label>
                    <span>project state</span>
                </div>

                <div class="detail-view-field">
                    <label>Completed</label>
                    <span>{{ project.percent_completed }}</span>
                </div>

                <div class="detail-view-field">
                    <label>{{ form.organization.label }}</label>
                    <span>{{ form.organization }}</span>
                </div>

            </div>


            <div style="display: inline; width: 40%; margin: 30px;">

                <div class="detail-view-field">
                    <label>{{ form.planned_start_date.label }}</label>
                    <span>{{ form.planned_start_date.value }}</span>
                </div>

                <div class="detail-view-field">
                    <label>{{ form.planned_finish_date.label }}</label>
                    <span>{{ form.planned_finish_date.value }}</span>
                </div>

                <div class="detail-view-field">
                    <label>{{ form.real_start_date.label }}</label>
                    <span>{{ form.real_start_date.value }}</span>
                </div>

                <div class="detail-view-field">
                    <label>{{ form.real_finish_date.label }}</label>
                    <span>{{ form.real_finish_date.value }}</span>
                </div>

            </div>

            <hr />


        </div>

        <hr />

        <div style="display: inline; width: 40%; margin: 30px;">
            <h3>Manager</h3>
            <div style="display: inline; width: 40%; margin: 30px;">

                <div class="detail-view-field">
                    <label>{{ form.manager_user.label }}</label>
                    <span>{{ form.manager_user.value }}</span>
                </div>

            </div>

             <div style="display: inline; width: 40%; margin: 30px;">

                <div class="detail-view-field">
                    <label>{{ form.team_members.label }}</label>
                    <span>{{ form.team_members.value }}</span>
                </div>

            </div>
        </div>
        <br />
        <br />
        <hr />

        <div style="display: inline; width: 40%; margin: 30px;">
            <h3>Description</h3>
            <div style="display:block; border: 1px solid #ccc;">
            {{ form.description.value | markdown | safe }}
            </div>
        </div>
        <br />
        <br />


        <input type="button" value="Edit"
            onclick="window.location='{% url 'Project Management:_project_change' project.id %}';">

        <script>
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>

    </div>


    <div id="Tasks" class="tabcontent">
        <h3>Tasks</h3>

    </div>


    <div id="Notes" class="tabcontent">
        <h3>
            Notes
        </h3>
        {{ notes_form }}
        <input type="submit" name="{{notes_form.prefix}}" value="Submit" />
        <div class="comments">
            {% if notes %}
            {% for note in notes%}
            {% include 'note.html.j2' %}
            {% endfor %}
            {% endif %}
        </div>

    </div>

</form>
{% endblock %}