* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f0f0f0;
}

h1 {
  width: 275px;
  height: 76px;
  line-height: 76px;
  vertical-align: middle;
  padding: 0%;
  margin: 0%;
}

h2 {
  width: 100%;
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  vertical-align: middle;
  align-content: center;
  padding-right: 50px;
  padding-left: 50px
}

span#content_header_icon {
  float: right;
  width: 30px;
  height: 100%;
  margin-right: 10px;
  text-align: center;
  align-content: center;
  color: #177ee6;
}


span.icon-text {
  vertical-align: middle;
  border-radius: 25px;
  font-size: inherit;
  border: 1px solid #ccc;
  line-height: 30px;
  padding-left: 1px;
  padding-right: 10px;
  height: 30px;
  display: inline-block;
}

span.icon-text a {
  text-decoration: unset;
  color: inherit;
  
}

span.icon-text a:visited {
  text-decoration: unset;
  color: inherit;
  
}

span.add {
  color: #315f9c;
}

span.icon-add {
  fill: #315f9c;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  margin-bottom: -7px;
  padding: 0px;
  vertical-align: middle;
  display: inline-block;
}

span.success {
  color: #319c3a;
}

span.icon-success {
  fill: #319c3a;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  margin-bottom: -7px;
  padding: 0px;
  vertical-align: middle;
  display: inline-block;
}

span.cross {
  color: #9c3131;
}

span.icon-cross {
  fill: #9c3131;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  margin-bottom: -7px;
  padding: 0px;
  vertical-align: middle;
  display: inline-block;
}

span.change {
  color: #cab706;
}

span.icon-change {
  fill: #cab706;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  margin-bottom: -7px;
  padding: 0px;
  vertical-align: middle;
  display: inline-block;
}


span.issue {
  color: #fc6d26;
}

span.icon-issue {
  fill: #fc6d26;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  /* margin-bottom: -2px; */
  padding: 0px;
  vertical-align: middle;
  display: inline-block;
}

/* .icon {
  display: block;
  content: none;
  background-color: #3e8e41;
} */


header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #151515;
  text-align: center;
  color: white;
  height: 76px;
  /* line-height: 76px; */
  vertical-align: middle;
}


section {
  display: flexbox;
  width: 100%;
  padding-top: 76px;
  padding-left: 275px;
}

article {
  background-color: #fff;
  padding: 10px;
  margin: 20px;
  border: 1px solid #e6dcdc;

}

footer {
  background-color: #fff;
  width: 100%;
  height: 76px;
  line-height: 76px;
  text-align: center;
  vertical-align: middle;
  padding: 0%;
  margin: 0%;
  color: #aaa;
  font-size: 12px; 
}

footer span {
  display: inline-block;
  width: 33%;
  padding: 0px 10px 0px 10px;
  margin: 0px;
  vertical-align: middle;
  height: 100%;
  /*line-height: 76px;*/
}

footer span svg {
  height: 100%;
  width: 30px;
  fill: #177ee6
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #177ee6;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 160px;
}

.accbtn {
  background-color: inherit;
  color: #000;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0px;
}

header .dropdown {
  padding-top: 19px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: fixed; */
  /* display: inline-block; */
  display: inline-flexbox;
  /* left: 300px; */
  /* position: relative; */
  /* vertical-align: middle; */

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content form {
  margin: 0px;
  padding: 0px;
}

.accbtn:hover {
  background-color: #b4adad
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #b4adad
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #177ee6;
}


nav {
  display: flex;
  flex-direction: column;
  background: #212427;
  padding: 20px;
  width: 275px;
  height: 100%;

  position: fixed;
  top: 76px;
  bottom: 4rem;
  left: 0;
  overflow-y: auto;
}


nav button.collapsible {
  background-color: inherit;
  color: white;
  cursor: pointer;
  padding: 0px 18px 0px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 0px;
  line-height: 50px;
  vertical-align: middle;
}

nav button.active, .collapsible:hover {
  font-weight: bold;
}

nav button.collapsible:after {
  content: url('/static/icons/nav_arrow_right.svg');
  color: white;
  float: right;
  margin-left: 5px;
}

nav button.active:after {
  content: url('/static/icons/nav_arrow_down.svg');
  font-weight: bold;
}

nav div.content {
  padding: 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0px;

}

nav ul li {
  padding: 10px;
}

nav ul li:hover {
  border-left: 3px solid #73bcf7;
  background-color: #666;
}

nav ul li.active {
  border-left: 3px solid #73bcf7;
}

nav a {

  color: #177ee6;
  text-decoration: none;

}

nav a:visited {

  color: #177ee6;
  text-decoration: none;

}
