{% extends 'base.html.j2' %}

{% load markdown %}

{% block title %}{{ device.name }}{% endblock %}

{% block content %}

<script>

  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

</script>

<div class="tab">
  <button onclick="window.location='{% url 'ITAM:Devices' %}';"
    style="vertical-align: middle; padding: auto; margin: 0px">
    <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px"
      style="vertical-align: middle; margin: 0px; padding: 0px border: none; " fill="#6a6e73">
      <path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z" />
    </svg> Back to Devices</button>
  <button id="defaultOpen" class="tablinks" onclick="openCity(event, 'Details')">Details</button>
  <button id="SoftwareOpen" class="tablinks" onclick="openCity(event, 'Software')">Software</button>
  <button id="NotesOpen" class="tablinks" onclick="openCity(event, 'Notes')">Notes</button>
  <button id="ConfigManagementOpen" class="tablinks" onclick="openCity(event, 'ConfigManagement')">Config Management</button>
  <!-- <button class="tablinks" onclick="openCity(event, 'Installations')">Installations</button> -->
</div>
<style>

.detail-view-field {
  display:unset;
  height: 30px;
  line-height: 30px;
  padding: 0px 20px 40px 20px;

}

.detail-view-field label {
  display: inline-block;
  font-weight: bold;
  width: 200px;
  margin: 10px;
  /*padding: 10px;*/
  height: 30px;
  line-height: 30px;

}

.detail-view-field span {
  display: inline-block;
  width: 340px;
  margin: 10px;
  /*padding: 10px;*/
  border-bottom: 1px solid #ccc;
  height: 30px;
  line-height: 30px;

}
</style>
<form action="" method="post">
  {% csrf_token %}


  <div id="Details" class="tabcontent">
    <h3>
      Details
      <span style="font-weight: normal; float: right;">{% include 'icons/issue_link.html.j2' with issue=6 %}</span>
    </h3>
    <div style="align-items:flex-start; align-content: center; display: flexbox; width: 100%">

      <div style="display: inline; width: 40%; margin: 30px;">

        <div class="detail-view-field">
          <label>{{ form.name.label }}</label>
          <span>{{ form.name.value }}</span>
        </div>

        <div class="detail-view-field">
          <label>{{ form.device_model.label }}</label>
          <span>
          {% if device.device_model %}
            {{ device.device_model }}
          {% else %}
            &nbsp;
          {% endif %}
          </span>
        </div>

        <div class="detail-view-field">
          <label>{{ form.serial_number.label }}</label>
          <span>
          {% if form.serial_number.value %}
            {{ form.serial_number.value }}
          {% else %}
            &nbsp;
          {% endif %}
          </span>
        </div>

        <div class="detail-view-field">
          <label>{{ form.uuid.label }}</label>
          <span>
          {% if form.uuid.value %}
            {{ form.uuid.value }}
          {% else %}
            &nbsp;
          {% endif %}
          </span>
        </div>

        <div class="detail-view-field">
          <label>{{ form.device_type.label }}</label>
          <span>
          {% if device.device_type %}
            {{ device.device_type }}
          {% else %}
            &nbsp;
          {% endif %}
          </span>
        </div>

        <div class="detail-view-field">
          <label>{{ form.organization.label }}</label>
          <span>{{ device.organization }}</span>
        </div>

        <div class="detail-view-field">
          <label>{{ form.lastinventory.label }}</label>
          <span>
          {% if form.lastinventory.value %}
            {{ form.lastinventory.value }}
          {% else %}
            &nbsp;
          {% endif %}
          </span>
        </div>

      </div>

      <div style="display: inline; width: 40%; margin: 30px; text-align: left;">
        <div>
          <label style="font-weight: bold; width: 100%; border-bottom: 1px solid #ccc; display: block; text-align: inherit;">{{ form.model_notes.label }}</label>
          
          <div style="display: inline-block; text-align: left;">
          {% if form.model_notes.value  %} 
            {{ form.model_notes.value | markdown | safe }}
          {% else %}
            &nbsp;
          {% endif %}
          </div>
        </div>
      </div>
      </div>

 

    <input type="button" value="Edit" onclick="window.location='{% url 'ITAM:_device_change' device.id %}';">

    <div style="display: block; width: 100%;">
      <h3>Operating System</h3>
      <br>
      {{ operating_system.as_p }}
      <input type="submit" name="{{operating_system.prefix}}" value="Submit" />
    </div>

    {% if not tab %}
    <script>
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>
    {% endif %}

  </div>


  <div id="Software" class="tabcontent">
    <h3>Software</h3>
    <hr>
    Installed Software: {{ installed_software }}
    <input type="button" value="Add Software Action" onclick="window.location='{% url 'ITAM:_device_software_add' device.id %}';">
    <table>
      <thead>
        <th>Name</th>
        <th>Category</th>
        <th>Action</th>
        <th>Desired Version</th>
        <th>Installed Version</th>
        <th>Installed</th>
        <th>&nbsp;</th>
      </thead>
      {% if softwares %}
      {% for software in softwares %}
      <tr>
        <td><a href="{% url 'ITAM:_software_view' pk=software.software_id %}">{{ software.software }}</a></td>
        <td>{{ software.software.category }}</td>
        <td>
          {% url 'ITAM:_device_software_view' device_id=device.id pk=software.id as icon_link %}
          {% if software.get_action_display == 'Install' %}
            {% include 'icons/success_text.html.j2' with icon_text=software.get_action_display icon_link=icon_link %}
          {% elif software.get_action_display == 'Remove'%}
            {% include 'icons/cross_text.html.j2' with icon_text=software.get_action_display icon_link=icon_link %}
          {% else %}
            {% include 'icons/add_link.html.j2' with icon_text='Add' icon_link=icon_link %}
          {% endif %}
        </td>
        <td>
          {% if software.version %}
            {{ software.version }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {% if software.installedversion %}
            {{ software.installedversion }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {% if software.installed %}
            {{ software.installed }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>&nbsp;</td>
      </tr>
      {% endfor %}
      {% else %}
      <td colspan="5">Nothing Found</td>
      {% endif %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&tab=software">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&tab=software">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&tab=software">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&tab=software">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% if tab == 'software' %}
    <script>
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("SoftwareOpen").click();
    </script>
    {% endif %}
  </div>


  <div id="Notes" class="tabcontent">
    <h3>
      Notes
    </h3>
    {{ notes_form }}
    <input type="submit" name="{{notes_form.prefix}}" value="Submit" />
    <div class="comments">
      {% if notes %}
      {% for note in notes%}
      {% include 'note.html.j2' %}
      {% endfor %}
      {% endif %}
    </div>

    {% if tab == 'notes' %}
    <script>
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("NotesOpen").click();
    </script>
    {% endif %}
  </div>


  <div id="ConfigManagement" class="tabcontent">
    <h3>Configuration Management</h3>
    <div>
      <textarea cols="90" rows="30" readonly>{{ config }}</textarea>
    </div>
    <br />
    <hr />
    <table class="data">
      <tr>
        <th>Group</th>
        <th>Added</th>
        <th>&nbsp;</th>
      </tr>
      {% if config_groups %}
      {% for group in config_groups %}
      <tr>
        <td><a href="{% url 'Config Management:_group_view' pk=group.group.id %}">{{ group.group }}</a></td>
        <td>{{ group.created }}</td>
        <td><a href="{% url 'Config Management:_group_delete_host' group_id=group.group.id pk=group.id %}">Delete</a></td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="3">Nothing Found</td>
      </tr>
      {% endif %}
    </table>

    {% if tab == 'configmanagement' %}
    <script>
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("ConfigManagementOpen").click();
    </script>
    {% endif %}
  </div>

</form>
{% endblock %}