{% extends 'base.html.j2' %}

{% block title %}Devices{% endblock %}
{% block content_header_icon %}{% endblock %}

{% block body %}

<input type="button" value="New Device" onclick="window.location='{% url 'ITAM:_device_add' %}';">
<input type="button" value="New Device Type" onclick="window.location='{% url 'ITAM:_device_type_add' %}';">
<table class="data">
    <tr>
        <th>Name</th>
        <th>Device Type</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Organization</th>
        <th>&nbsp;</th>
    </tr>
    {% for device in devices %}
    <tr>
        <td><a href="{% url 'ITAM:_device_view' pk=device.id %}">{{ device.name }}</a></td>
        <td>{{ device.device_type }}</td>
        <td>{% include 'icons/issue_link.html.j2' with issue=12 %}</td>
        <td>{% include 'icons/issue_link.html.j2' with issue=12 %}</td>
        <td>{% if software.is_global %}Global{% else %}{{ device.organization }}{% endif %}</td>
        <td><a href="{% url 'ITAM:_device_delete' pk=device.id %}">Delete</a></td>
    </tr>
    {% endfor %}

</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}