{% extends 'base.html.j2' %}

{% block title %}{{ device.name }}{% endblock %}

{% block body %}

<script>

  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

</script>

<div class="tab">
  <button onclick="window.location='{% url 'ITAM:Devices' %}';">
    << Back to Devices</button>
      <button id="defaultOpen" class="tablinks" onclick="openCity(event, 'Details')">Details</button>
      <button id="defaultOpen" class="tablinks" onclick="openCity(event, 'OperatingSystem')">Operating System</button>
      <button class="tablinks" onclick="openCity(event, 'Software')">Software</button>
      <button class="tablinks" onclick="openCity(event, 'ConfigManagement')">Config Management</button>
      <!-- <button class="tablinks" onclick="openCity(event, 'Installations')">Installations</button> -->
</div>

<!-- Tab content -->
<div id="Details" class="tabcontent">
  <h3>Details</h3>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

  <script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>

</div>

<div id="OperatingSystem" class="tabcontent">
  <h3>Operating System</h3>
</div>

<div id="Software" class="tabcontent">
  <h3>Software</h3>

  <input type="button" value="Add Software Action" onclick="window.location='{% url 'ITAM:_device_software_add' device.id %}';">
  <table>
    <thead>
      <th>Name</th>
      <th>Action</th>
      <th>Version</th>
      <th>Installed</th>
      <th>&nbsp;</th>
    </thead>
    {% for software in softwares %}
    <tr>
      <td><a href="{% url 'ITAM:_software_view' pk=software.software_id %}">{{ software.software }}</a></td>
      <td><a href="{% url 'ITAM:_device_software_view' device_id=device.id pk=software.id %}">{{ software.get_action_display }}</a></td>
      <td>
      {% if software.version %}
      {{ software.version }}
      {% else %}
      Any
      {% endif %}
      </td>
      <td>
      {% include 'icons/issue_link.html.j2' with issue=2 %}
      </td>
      <td>&nbsp;</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div id="ConfigManagement" class="tabcontent">
  <h3>Configuration Management</h3>
  <div>
  <textarea cols="90" rows="30" readonly>{{ config }}</textarea>
  </div>
</div>

{% endblock %}