{% extends 'base.html.j2' %}

{% block title %}Operating Systems{% endblock %}
{% block content_header_icon %}{% endblock %}

{% block content %}

<input type="button" value="New Operating System" onclick="window.location='{% url 'ITAM:_operating_system_add' %}';">
<table class="data">
    <tr>
        <th>Name</th>
        <th>Publisher</th>
        <th>Organization</th>
        <th>&nbsp;</th>
    </tr>
    {% for operating_system in operating_systems %}
    <tr>
        <td><a href="{% url 'ITAM:_operating_system_view' pk=operating_system.id %}">{{ operating_system.name }}</a></td>
        <td>
        {% if operating_system.publisher %}
            <a href="{% url 'Settings:_manufacturer_view' pk=operating_system.publisher.id %}">{{ operating_system.publisher }}</a>
        {% else %}
            -
        {% endif %}
        </td>
        <td>{% if operating_system.is_global %}Global{% else %}{{ operating_system.organization }}{% endif %}</td>
        <td>&nbsp;</td>
    </tr>
    {% endfor %}

</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}