{% extends 'base.html.j2' %}

{% block title %}{{ software.name }}{% endblock %}

{% block body %}

<script>

  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

</script>

<div class="tab">
  <button onclick="window.location='{% url 'ITAM:Software' %}';">
    << Back to Software</button>
      <button id="defaultOpen" class="tablinks" onclick="openCity(event, 'Details')">Details</button>
      <button id="defaultOpen" class="tablinks" onclick="openCity(event, 'Versions')">Versions</button>
      <button class="tablinks" onclick="openCity(event, 'Licences')">Licences</button>
      <button class="tablinks" onclick="openCity(event, 'Installations')">Installations</button>
</div>

<!-- Tab content -->
<div id="Details" class="tabcontent">
  <h3>Details</h3>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

  <script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>

</div>

<div id="Versions" class="tabcontent">
  <h3>Versions</h3>
  <input type="button" value="New Software Version" onclick="window.location='{% url 'ITAM:_software_version_add' pk=software.id %}';">
  <table>
    <thead>
      <th>Version</th>
      <th>Installations</th>
      <th>Vulnerable</th>
      <th>&nbsp;</th>
    </thead>
    <tr>
      {% for version in software_versions %}
      <td>{{ version.name }}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      {% endfor %}
    </tr>
  </table>
</div>

<div id="Licences" class="tabcontent">
  <h3>Licences</h3>
  Not Yet Implemented
  <table>
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Available</th>
      <th>&nbsp;</th>
    </thead>
    <tr>
      <td>GPL-3</td>
      <td>Open Source</td>
      <td>1 / 5</td>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <td>MIT</td>
      <td>Open Source</td>
      <td>Unlimited</td>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <td>Windows Device</td>
      <td>CAL</td>
      <td>11 / 15</td>
      <th>&nbsp;</th>
    </tr>
  </table>
</div>

<div id="Installations" class="tabcontent">
  <h3>Installations</h3>
  Dev Notes: This table will show joined tables installed software and device software action as a single row.
    <table>
    <thead>
      <th>Device</th>
      <th>Organization</th>
      <th title="Not Set/Install/Remove">Action</th>
      <th title="Date Software Installed">Installed</th>
      <th>&nbsp;</th>
    </thead>
    {% for device in device_software %}
    <tr>
      <td><a href="{% url 'ITAM:_device_view' pk=device.device.id %}">{{ device.device }}</a></td>
      <td>{{ device.organization }}</td>
      <td>
      {% if device.get_action_display == 'Install' %}
        {% include 'icons/success_text.html.j2' with icon_text=device.get_action_display %}
      {% elif device.get_action_display == 'Remove'%}
        {% include 'icons/cross_text.html.j2' with icon_text=device.get_action_display %}
      {% else %}
        {{ device.get_action_display }}
      {% endif %}
      </td>
      <td>Not Implemented</td>
      <td>&nbsp;</td>
    </tr>
    {% endfor %}
  </table>
</div>


{% endblock %}