{% extends 'base.html.j2' %}

{% block content_header_icon %}{% endblock %}

{% block content %}

<table class="data">
    <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Modified</th>
    </tr>
    {% for org in organization_list %}
    <tr>
        <td><a href="/organization/{{ org.id }}/">{{ org.name }}</a></td>
        <td>{{ org.created }}</td>
        <td>{{ org.modified }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}