{% extends 'base.html.j2' %}

{% block title %}Team - {{ team.team_name }}{% endblock %}

{% block body%}
<form method="post">
  {% csrf_token %}
  <div>
  <input name="organization" id="id_organization" type="hidden" value="{{ organization.id }}">
    <section class="content-header">
      <fieldset><label>Name</label><input name="name" required id="id_name" type="text" value="{{ team.team_name }}" /></fieldset>
      <fieldset><label>Created</label><input name="created" type="text" value="{{ team.created }}" readonly /></fieldset>
      <fieldset><label>Modified</label><input name="modified" type="text" value="{{ team.modified }}" readonly /></fieldset>
      <fieldset><label>Permissions</label>
        <select name="permissions" id="id_permissions" style="height: 200px;" multiple>
          {% for permission in permissions %}
            {% if 'administration' not in permission.content_type|lower and 'authorization' not in permission.content_type|lower and 'content types' not in permission.content_type|lower and 'session' not in permission.content_type|lower and 'python social auth' not in permission.content_type|lower and 'add_organization' not in permission.codename|lower and 'delete_organization' not in permission.codename|lower %}
            <option value="{{ permission.id }}" {% for team_permission in team.permissions.all %}{% if permission.id == team_permission.id %}selected{% endif %}{% endfor %}>{{ permission.content_type }} | {{ permission.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </fieldset>
      </section>
      </div>
      {% include 'icons/issue_link.html.j2' with issue=13 %}<br>
      <input style="display:unset;" type="submit" value="Submit">
  </form>


<hr />

<input type="button" value="<< Back" onclick="window.location='{% url 'Access:_organization_view' pk=organization.id %}';">
<input type="button" value="Delete Team"
  onclick="window.location='{% url 'Access:_team_delete' organization_id=organization.id pk=team.id %}';">
<input type="button" value="New User"
  onclick="window.location='{% url 'Access:_team_user_add' organization_id=organization.id pk=team.id %}';">
{{ formset.management_form }}

<table id="formset" class="form">
  <thead>
    <tr>
      <th>User</th>
      <th>Manager</th>
      <th>Created</th>
      <th>Modified</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  {% for field in teamusers %}
  <tr>
    <td>{{ field.user }}</td>
    <td><input type="checkbox" {% if field.manager %}checked{% endif %} disabled></td>
    <td>{{ field.created }}</td>
    <td>{{ field.modified }}</td>
    <td><a
        href="{% url 'Access:_team_user_delete' organization_id=organization.id team_id=field.team_id pk=field.id %}">Delete</a></a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}