{% extends 'base.html.j2' %}

{% block additional-stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'ticketing.css' %}">
{% endblock additional-stylesheet %}

{% load markdown %}

{% block article %}

<div id="ticket-content">

    <div id="ticket-data">

        <div id="ticket-description">
            <h3 class="{{ ticket_type }}-ticket">opened by {{ ticket.opened_by }} on {{ ticket.created }}</h3>
            <div>
                <input style="float: right; position: relative; margin: 0px;" type="button" value="Edit" onclick="window.location='{{ edit_url }}';">
            </div>
            <div id="markdown">{{ ticket.markdown_description | safe }}</div>
        </div>

        <div id="ticket-additional-data">

            <div id="data-block">
                <h3>
                    <div id="text">Related Tickets</div>
                    <div id="icons">
                        <a href="{% url '_ticket_related_add' ticket_type=ticket_type ticket_id=ticket.id %}">{% include 'icons/ticket/add.svg' %}</a>
                    </div>
                </h3>

                {% if ticket.related_tickets %}
                {% for related_ticket in ticket.related_tickets %}
                <div id="linked-tickets" class="{{ related_ticket.type }}-ticket">
                    <div class="icon icon-{{ related_ticket.how_related }}">{% include related_ticket.icon_filename %}</div>
                    <div class="ticket">
                        {% if related_ticket.how_related == 'blocked_by' %}
                        Blocked by
                        {% elif related_ticket.how_related == 'blocks' %}
                        Blocks
                        {% elif related_ticket.how_related == 'related' %}
                        Related to
                        {% endif %}
                        <a href="{% if related_ticket.type == 'request' %}
                            {% url 'Assistance:_ticket_request_view' ticket_type=related_ticket.type pk=related_ticket.id %}
                        {% elif related_ticket.type == 'change' %}
                            {% url 'ITIM:_ticket_change_view' ticket_type=related_ticket.type pk=related_ticket.id %}
                        {% elif related_ticket.type == 'incident' %}
                            {% url 'ITIM:_ticket_incident_view' ticket_type=related_ticket.type pk=related_ticket.id %}
                        {% elif related_ticket.type == 'problem' %}
                            {% url 'ITIM:_ticket_problem_view' ticket_type=related_ticket.type pk=related_ticket.id %}
                        {% endif %}
                        ">{{ related_ticket.title }}</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div>Nothing Found</div>
                {% endif %}

            </div>


            <div id="data-block" class="linked-item">
                <h3>
                    <div id="text">Linked Items</div>
                    <div id="icons">{% include 'icons/place-holder.svg' %}{% include 'icons/place-holder.svg' %}</div>
                </h3>
                <div id="item">
                    An item
                </div>
                <div id="item">
                    another item
                </div>
                <div id="item">
                    another item
                </div>
                <div id="item">
                    another item
                </div>
                <div id="item">
                    another item
                </div>
                <div id="item">
                    another item
                </div>
            </div>

        </div>

        {% include 'core/ticket/comment.html.j2' %}

    </div>


    <div id="ticket-meta">
    <h3 class="{{ ticket_type }}-ticket">{{ ticket_type }}</h3>

        <fieldset>
            <label>Assigned</label>
            <span class="text">
            {% if ticket.assigned_users %}
                {% for user in ticket.assigned_users.all %}
                    {{ user }} 
                {% endfor%}
            {% endif %}
            {% if ticket.assigned_teams %}
                {% for team in ticket.assigned_teams.all %}
                    {{ team }} 
                {% endfor%}
            {% endif %}
            </span>
        </fieldset>
        <fieldset>
            <label>Status</label>
            <span>{% include 'core/ticket/badge_ticket_status.html.j2' with ticket_status_text=ticket.get_status_display ticket_status=ticket.get_status_display|ticket_status %}</span>
        </fieldset>
        <fieldset>
            <label>Labels</label>
            <span class="text">val</span>
        </fieldset>
        <fieldset>
            <label>Project</label>
            <span class="text">
                {% if ticket.project %}
                <a href="{% url 'Project Management:_project_view' pk=ticket.project_id %}">{{ ticket.project }}</a>
                {% else %}
                -
                {% endif %}
            </span>
        </fieldset>
        <fieldset>
            <label>Priority</label>
            <span class="text">U{{ ticket.get_urgency_display }} / I{{ ticket.get_impact_display }} / P{{ ticket.get_priority_display }}</span>
        </fieldset>
        <fieldset>
            <label>Milestone</label>
            <span class="text">val</span>
        </fieldset>
        <fieldset>
            <label>Roadmap(s)</label>
            <span class="text">val</span>
        </fieldset>

    </div>


</div>
{% endblock %}