{% extends 'base.html.j2' %}

{% block content %}

<div>
<form method="post" id="dynamic-form">
  {% csrf_token %}
  {{ form.as_div }}
  <input type="submit" value="Submit">
</form>
</div>
{% endblock %}
