{% extends 'base.html.j2' %}

{% block title %}Change Password{% endblock %}

{% block body%}
<div>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
</div>
{% endblock %}
